@charset "utf-8";
.navbar {
	width: 100%;
	float: left;
	background-color: gray;
	min-height: 50px;
}
.maintitle {
	float: left;
	width: 60%;
	height: 100%;
	
}
.titleName {
	margin-left: 25%;
	padding: 0 5px;
	background-color: green;
	font-size: 36px;
	line-height: 50px;
	font-weight: bolder;
}
.navlist {
	float: left;
	width: 40%;
	height: 50px;
	line-height: 50px;
	background-color: gold;
	text-align: center;
}
.navlinks {
	float: left;
	width: 33%;
	font-size: 18px;
	font-weight: 400;
}
#middlelink {
	border-right: solid 2px gray;
	border-left: solid 2px gray;
}
.maincontainer {
	clear: both;
	float: left;
	width: 60%;
	min-height: 200px;
	height: 100%;
	background-color: red;
	overflow: auto;
}
#tile1, #tile2, #tile3, #tile4 {
	display: inline-block;
	float: left;
	background-size: 250px 300px;
	width: 250px;
	height: 300px;
	text-align: center;
	overflow: hidden;
	border: dashed 2px blue;
	margin: 10px;
	background-repeat: no-repeat;
}
#tile1 {
	background-image: url("https://cdn.shopify.com/s/files/1/0735/7415/products/Arctic_blast_artwork_store_image_1024x1024.png?v=1449615734");
}
#tile2 {
	background-image: url("http://vignette1.wikia.nocookie.net/killerinstinct/images/f/f2/Killer_Instinct_-_Jago.png/revision/latest?cb=20160329133300");
}
#tile3 {
	background-image: url("http://vignette2.wikia.nocookie.net/guilty-gear/images/d/df/Order_Sol.png/revision/latest?cb=20111017163212");
}
#tile4 {
	background-image: url("http://www.fightersgeneration.com/nx9/char/guiltygear-xrd-sign/ky-kiske-ggxrd-sign-clean2.jpg");
}
.tile-txt {
	font-size: 18px;
	font-weight: bold;
	position: relative;
	top: 65%;
	width: 250px;
	background-color: black;
	color: white;
	margin: auto;
	padding: auto;
	line-height: 30px;
}
.Links{
	float: left;
	display: block;
	text-align: center;
	background-color: cyan;
	height: auto;
	width: 30%;
	margin: 5px;
}
.LinkTitle{
	background-color: silver;
	width: 100%;
	font-size: 24px;
	border-bottom: solid 2px black;
}
.LinkSubtile{
	float: left;
	width: 30%;
	height: 200px;
	margin: 5px;
	text-align: center;
	border: dashed 2px red;
	background-repeat: no-repeat;
	background-size: contain;
}
#Tile1{
	background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");

}
#Tile2{
	background-image: url("https://image.freepik.com/free-icon/linkedin-logo-ios-7-interface-symbol_318-33633.png");
}
#Tile3{
	background-image: url("http://veithen.github.io/images/icon-stackoverflow.svg");
}
.subtile-txt{
	font-size: 18px;
	font-weight: 600;
	position: relative;
	top: 85%;
	width: auto;
	color: black;
	margin: auto;
	padding: auto;
	line-height: 30px;
}
.EndGame {
	clear: both;
	text-align: center;
	width: 100%;
	height: 25px;
	font-size: 18px;
	font-weight: 600;
	background-color: green;
}

@media screen and (max-width: 720px){
	.maincontainer{
		width: 100%;
		height: auto;
	}
	.maintitle{
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.titleName{
		font-size: 24px;
		margin: auto;
		text-align: center;
	}
	.navlist{
		width: 100%;
		clear: both;
		text-align: center;
	}
	.navlinks{
		float: left;
		width: 33%;
	}
	#tile1, #tile2, #tile3, #tile4{
		width: 100%;
		margin: auto;
		background-size: 100% auto;
	}
	.tile-txt{
		width: 100%;
	}
	#titleName{
		font-size:10px;
	}
	.Links{
		width: 100%;
	}
	.LinkSubtile{
		width: 28%;
		height: 125px;
		margin: 2%;
	}
	.EndGame{
		font-size: 14px;
		font-weight: lighter;
	}
}
