@charset "utf-8";
.navbar {
	width: 100%;
	float: left;
	min-height: 50px;
}
.maintitle {
	float: left;
	width: 60%;
	height: 100%;
}
.titleName {
	margin-left: 12%;
	background-color: silver;
	font-size: 48px;
	line-height: 48px;
	font-weight: 800;
}
.navlist {
	float: left;
	width: 40%;
	height: 50px;
	line-height: 50px;
	background-color: silver;
	text-align: center;
}
.navlinks {
	float: left;
	width: 33%;
	font-size: 18px;
	font-weight: 400;
}
.navlinks:hover {
	background-color: lightblue;
	font-weight: 800;
}
#middlelink {
	border-right: solid 2px gray;
	border-left: solid 2px gray;
}
.maincontainer {
	clear: both;
	float: left;
	width: 60%;
	min-height: 200px;
	height: 100%;
	overflow: auto;
	margin-top: 5px;
}
.contact-title{
	font-size: 48px;
	line-height: 48px;
	font-weight: 600;
}
.profilepic {
	float: left;
	display: block;
	width: auto;
	height: auto;
	margin: 5px 25px;
	
}
#profilethumb{
	width: 200px;
	height: auto;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#tile1, #tile2, #tile3, #tile4 {
	display: inline-block;
	float: left;
	background-size: 100% auto;
	width: 30%;
	height: 300px;
	text-align: center;
	overflow: hidden;
	margin: 10px;
	background-repeat: no-repeat;
	background-position: top;
}
#tile1 {
	background-image: url("https://cdn.shopify.com/s/files/1/0735/7415/products/Arctic_blast_artwork_store_image_1024x1024.png?v=1449615734");
}
#tile2 {
	background-image: url("http://vignette1.wikia.nocookie.net/killerinstinct/images/f/f2/Killer_Instinct_-_Jago.png/revision/latest?cb=20160329133300");
}
#tile3 {
	background-image: url("http://vignette2.wikia.nocookie.net/guilty-gear/images/d/df/Order_Sol.png/revision/latest?cb=20111017163212");
}
#tile4 {
	background-image: url("http://www.fightersgeneration.com/nx9/char/guiltygear-xrd-sign/ky-kiske-ggxrd-sign-clean2.jpg");
}
.tile-txt {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	top: 65%;
	background-color: black;
	color: white;
	margin: auto;
	line-height: 30px;
}
.tile-txt:active {
	color: yellow;
}
.Links {
	float: left;
	display: block;
	text-align: center;
	height: auto;
	width: 40%;
	overflow: auto;
	margin-top: 5px;
}
.LinkTitle {
	background-color: silver;
	width: 100%;
	font-size: 24px;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
.LinkSubtile {
	float: left;
	width: 28%;
	height: 200px;
	margin: 5px 8px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	overflow: hidden;
}
#Tile1 {
	background-image: url("https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png");
}
#Tile2 {
	background-image: url("https://image.freepik.com/free-icon/linkedin-logo-ios-7-interface-symbol_318-33633.png");
}
#Tile3 {
	background-image: url("http://veithen.github.io/images/icon-stackoverflow.svg");
}
.subtile-txt {
	font-size: 18px;
	font-weight: 600;
	position: relative;
	top: 100%;
	width: 100%;
	color: black;
	margin: auto;
	padding: auto;
	line-height: 30px;
}
.footer {
	clear: both;
	text-align: center;
	width: 100%;
	height: 25px;
	font-size: 18px;
	font-weight: 600;
	background-color: green;
}

@media screen and (min-width: 0px) and (max-width: 420px) {
.maincontainer {
	width: 100%;
	height: auto;
}
.maintitle {
	width: 100%;
	margin: auto;
	text-align: center;
}
.titleName {
	font-size: 24px;
	margin: auto;
	text-align: center;
}
.navlist {
	width: 100%;
	clear: both;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.navlinks {
	float: left;
	width: 32%;
}
#tile1, #tile2, #tile3, #tile4 {
	width: 100%;
	margin: auto;
	background-size: 100% auto;
}
.tile-txt {
	width: 100%;
}
#titleName {
	font-size: 10px;
}
.Links {
	width: 100%;
}
.LinkSubtile {
	width: 28%;
	height: 125px;
	margin: 2%;
}
.footer {
	font-size: 14px;
	font-weight: 300;
}
}

@media screen and (min-width: 421px) and (max-width: 768px) {
.maincontainer {
	width: 75%;
	height: auto;
	overflow: auto;
}
.maintitle {
	width: 100%;
}
.navlist {
	clear: both;
	width: 100%;
}
.navlinks {
	font-size: 24px;
	font-weight: 600;
}
.Links {
	width: 20%;
	margin: 0 5px;
}
.LinkTitle {
	width: 100%;
}
.LinkSubtile {
	width: 90%;
	height: 180px;
	margin: 5px;
}
}
